body{
    margin:10px;
    background-color: black;
}
#home{
    padding-bottom:1cm;
    margin-top:-1;
    margin-left:-1;
    margin-right:-1;
    padding-bottom:2cm;
    padding-top:1cm;
    background-color:  #483355;
}
header{
    font-size:30px;
    font-style:normal;
    font-weight: 1000;
    color: rgb(239, 235, 242);
    padding-left: 2cm;
    float: left;
}
